<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="MyTest">
        <classes>
            <class name="com.coherentsolutions.training.automation.web.sirbu.LoginLogoutTest"/>
            <!-- Add more classes if needed -->
        </classes>
    </test>
    <listeners>
        <listener class-name="com.coherentsolutions.training.automation.web.sirbu.utilities.TestListener"/>
    </listeners>
</suite>
